apiVersion: v1
kind: Service
metadata:
  name: {{ service_name }}
spec:
  selector:
    app.kubernetes.io/name: {{ service_name }}
  ports:
    - port: 80
      targetPort: {{ port }}
      protocol: TCP
      name: http
