image:
  repository: {{ image_repository }}
  tag: {{ image_tag }}
  pullPolicy: IfNotPresent

service:
  port: {{ port }}

resources:
  requests:
    cpu: {{ requests_cpu }}
    memory: {{ requests_memory }}
  limits:
    cpu: {{ limits_cpu }}
    memory: {{ limits_memory }}

httpRoute:
  enabled: {{ ingress_enabled }}
  pathPrefix: /
  parentRefs:
    - name: gateway
      namespace: gateway
      sectionName: http
    - name: gateway
      namespace: gateway
      sectionName: https
  hostnames:
    - {{ ingress_host }}
