image:
  repository: {{ image_repository }}
  tag: {{ image_tag }}
  pullPolicy: IfNotPresent

service:
  port: {{ port }}

resources:
  requests:
    cpu: {{ requests_cpu }}
    memory: {{ requests_memory }}
  limits:
    cpu: {{ limits_cpu }}
    memory: {{ limits_memory }}

httpRoute:
  enabled: {{ gateway_enabled }}
  pathPrefix: {{ gateway_path_prefix }}
  stripPrefix: true
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: gateway-cloudflare
      namespace: gateway
  hostnames:
    - {{ gateway_host }}
