apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ service_name }}
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/{{ github_owner }}/{{ github_repo }}.git
    targetRevision: main
    path: services/{{ service_name }}/chart
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
